@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'montserrat', sans-serif;
  letter-spacing: 0.04em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}