// Colors

$background-color: #84A178;
$text-black: #131313;
$text-white: #FCFCFC;
$accent-color: #F8D24E;
$hover-color: #0A8817;
$active-color: #ABABAB;

// Adaptive sizes @media

$mobile: 479.99px;
$tablet: 767.99px;
$desk: 1199.99px;

// Animations

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);