<section class="about-section" id="howitsmade">
  <div class="about-section__container">
    <p class="about-section__pre-title-text">tradition and love</p>
    <h2 class="about-section__title">how it`s made</h2>
    <div class="about-section__main-container">
      <div class="about-section__circle">
        <img
          loading="lazy"
          class="about-section__image"
          srcset="
            ./images/about-cow-mobile.png     280w,
            ./images/about-cow-mobile2x.png   560w,
            ./images/about-cow-mobile3x.png   840w,
            ./images/about-cow-tablet.png     330w,
            ./images/about-cow-tablet2x.png   660w,
            ./images/about-cow-tablet3x.png   990w,
            ./images/about-cow-desktop.png    490w,
            ./images/about-cow-desktop2x.png  980w,
            ./images/about-cow-desktop3x.png 1470w
          "
          src="./images/about-cow-mobile.png"
          alt="cow"
          sizes="(min-width: 768px) 50vw, 100vw"
        />
      </div>
      <div class="about-section__text-button-container">
        <p class="about-section__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about-section__text">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about-section__text about-section__non-mobile-text">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button
          class="about-section__modal-button"
          type="button"
          data-about-open
        >
          <span class="about-section__modal-button-span">Read more</span>
        </button>
        <div
          class="abot-section__modal-backdrop abot-section__modal-backdrop--hidden"
          data-about-modal
        >
          <div class="abot-section__modal-container">
            <ul class="abot-section__modal-list">
              <li class="abot-section__modal-item">
                <img
                  loading="lazy"
                  class="about-section__modal-image"
                  srcset="
                    ./images/about-modal-cows.jpg   192w,
                    ./images/about-modal-cows2x.jpg 320w,
                    ./images/about-modal-cows3x.jpg 500w
                  "
                  sizes="40vw"
                  src="./images/about-modal-cows.jpg"
                  alt="cute cows"
                />
                <div class="abot-section__modal-data-container">
                  <h3 class="about-section__modal-title">
                    The basics of fresh milk production
                  </h3>
                  <p class="about-section__text about-section__modal-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Natus, pariatur odit corporis modi illum ea, iure atque
                    minima, quisquam aspernatur ipsum omnis qui ratione magnam
                    nobis! Soluta, minima temporibus. Modi sit iure placeat
                    expedita, obcaecati asperiores tenetur exercitationem!
                    Tenetur dolor laborum dicta soluta autem magni cupiditate
                    rerum voluptatem veritatis repudiandae.
                  </p>
                </div>
              </li>

              <li class="abot-section__modal-item">
                <img
                  loading="lazy"
                  class="about-section__modal-image"
                  srcset="
                    ./images/about-modal-ice-cream.jpeg   192w,
                    ./images/about-modal-ice-cream2x.jpeg 320w,
                    ./images/about-modal-ice-cream3x.jpeg 500w
                  "
                  sizes="40vw"
                  src="./images/about-modal-ice-cream.jpeg"
                  alt="ice cream production"
                />
                <div class="abot-section__modal-data-container">
                  <h3 class="about-section__modal-title">
                    Making delicious ice cream
                  </h3>
                  <p class="about-section__text about-section__modal-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Natus, pariatur odit corporis modi illum ea, iure atque
                    minima, quisquam aspernatur ipsum omnis qui ratione magnam
                    nobis! Soluta, minima temporibus. Modi sit iure placeat
                    expedita, obcaecati asperiores tenetur exercitationem!
                    Tenetur dolor laborum dicta soluta autem magni cupiditate
                    rerum voluptatem veritatis repudiandae.
                  </p>
                </div>
              </li>

              <li class="abot-section__modal-item">
                <img
                  loading="lazy"
                  class="about-section__modal-image"
                  srcset="
                    ./images/about-modal-child.jpeg   192w,
                    ./images/about-modal-child2x.jpeg 320w,
                    ./images/about-modal-child3x.jpeg 500w
                  "
                  sizes="40vw"
                  src="./images/about-modal-child.jpeg"
                  alt="happy child with ice cream"
                />
                <div class="abot-section__modal-data-container">
                  <h3 class="about-section__modal-title">Happy clients</h3>
                  <p class="about-section__text about-section__modal-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Natus, pariatur odit corporis modi illum ea, iure atque
                    minima, quisquam aspernatur ipsum omnis qui ratione magnam
                    nobis! Soluta, minima temporibus. Modi sit iure placeat
                    expedita, obcaecati asperiores tenetur exercitationem!
                    Tenetur dolor laborum dicta soluta autem magni cupiditate
                    rerum voluptatem veritatis repudiandae.
                  </p>
                </div>
              </li>
            </ul>
            <button
              class="abot-section__modal-close-button abot-section__modal-close-button--selected"
              data-about-close
              type="button"
            >
              X
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
