<section class="advantages-section">
  <div class="advantages-section__container">
    <h2 class="advantages-section__title visually-hidden">Advantages</h2>
    <ul class="advantages-section__list">
      <li class="advantages-section__item">
        <div
          class="advantages-section__data-container advantages-section__data-container-cow"
        >
          <h3 class="advantages-section__title">721</h3>
          <p class="advantages-section__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages-section__item">
        <div
          class="advantages-section__data-container advantages-section__data-container-weight"
        >
          <h3 class="advantages-section__title">16kg</h3>
          <p class="advantages-section__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages-section__item">
        <div
          class="advantages-section__data-container advantages-section__data-container-ice-cream"
        >
          <h3 class="advantages-section__title">84</h3>
          <p class="advantages-section__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
