<section class="contacts-section">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container">
    <ul class="contacts">
      <li class="contacts__card">
        <div>
          <ul class="contacts__card-meta">
            <li class="card-title">
              <p class="card-title__cafe">cafe</p>
            </li>
            <li class="contacts__card-paragraph">
              <p class="contacts__card-city">chicago</p>
              <a
                href="https://goo.gl/maps/mc6sjmokx3GmxyAw6"
                target="_blank"
                rel="noopener noreferer"
              >
                <p class="contacts__card-address">
                  10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                </p></a
              >
            </li>
            <li class="contacts__card-paragraph">
              <p>Monday - Friday</p>
              <p class="contacts__card-worktime">06:00 AM - 10:00 PM</p>
              <p class="contacts__card-workday">Saturday - Sunday</p>
              <p class="contacts__cart-worktime--mrgn">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts__card-social">
              <a href="tel:+610383766284" class="contacts__card-social--brown"
                >+61(0) 383 766 284</a
              >
              <a
                href="mailto:noreply@envato.com"
                class="contacts__card-social--brown"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__card">
        <div>
          <ul class="contacts__card-meta">
            <li class="card-title card-title--foodtruck">
              <p class="card-title__cafe">foodtruck</p>
            </li>
            <li class="contacts__card-paragraph">
              <p class="contacts__card-city">los angeles</p>
              <a
                href="https://goo.gl/maps/cx5i8RxqeiPyz2HD9"
                target="_blank"
                rel="noopener noreferer"
              >
                <p class="contacts__card-address">
                  1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                </p></a
              >
            </li>
            <li class="contacts__card-paragraph">
              <p>Monday - Friday</p>
              <p class="contacts__card-worktime">06:00 AM - 10:00 PM</p>
              <p class="contacts__card-workday">Saturday - Sunday</p>
              <p class="contacts__cart-worktime--mrgn">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts__card-social">
              <a href="tel:+610383766284" class="contacts__card-social--brown"
                >+61(0) 383 766 284</a
              >
              <a
                href="mailto:noreply@envato.com"
                class="contacts__card-social--brown"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__card">
        <div>
          <ul class="contacts__card-meta">
            <li class="card-title">
              <p class="card-title__cafe">cafe</p>
            </li>
            <li class="contacts__card-paragraph">
              <p class="contacts__card-city">new york</p>
              <a
                href="https://goo.gl/maps/UePeucTsT3gmwz356"
                target="_blank"
                rel="noopener noreferer"
              >
                <p class="contacts__card-address">
                  726 Sterling Pl, Brooklyn, NY 11222, USA
                </p></a
              >
            </li>
            <li class="contacts__card-paragraph">
              <p>Monday - Friday</p>
              <p class="contacts__card-worktime">06:00 AM - 10:00 PM</p>
              <p class="contacts__card-workday">Saturday - Sunday</p>
              <p class="contacts__cart-worktime--mrgn">08:00 AM - 16:00 PM</p>
            </li>
            <li class="contacts__card-social">
              <a href="tel:+610383766284" class="contacts__card-social--brown"
                >+61(0) 383 766 284</a
              >
              <a
                href="mailto:noreply@envato.com"
                class="contacts__card-social--brown"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="contacts-button">
      <button type="button" class="contacts-button__first">
        <span class="contacts__arrow--black">Our Locations</span>
      </button>
      <button type="button" class="contacts-button__second">
        <span class="contacts__arrow">Franchise</span>
      </button>
    </div>
  </div>
</section>
