    <footer class="footer">
      <div class="container footer__container">
        <div class="footer-title__wrapper">
          <p class="footer-title">homemade ice cream made</p>
          <p class="footer-title__slogan">with passion</p>
        </div>
        <div class="footer-networks__container">
          <ul class="footer-networks">
            <li class="footer-networks__item">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="footer-networks__link"
              >
                <svg class="footer-networks__icon" width="32" height="32">
                  <use href="./images/symbol-defs.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="footer-networks__item">
              <a
                href="https://telegram.org/"
                target="_blank"
                class="footer-networks__link"
              >
                <svg class="footer-networks__icon" width="32" height="32">
                  <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-networks__item">
              <a
                href="https://github.com/"
                target="_blank"
                class="footer-networks__link"
              >
                <svg class="footer-networks__icon" width="32" height="32">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
          <address class="footer-adress">
            <p>
              Feel free to contact
              <a class="footer__contacts" href="tel:+380961111111"
                >+38 096 111 11 11</a
              >
            </p>
          </address>
        </div>
      </div>
      <div class="footer-rights">
        <p>© 2022 - IceCream. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
