<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="logo">
        <a class="logo__link" href="#">
          <img
            loading="lazy"
            class="logo__ice-creame"
            src="./images/header_hero/ice-cream.png"
            alt="Ice-cream"
          />
          <span class="logo__text">ce</span>
        </a>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link current" href="#">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#about">About us</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#howitsmade">How it’s made?</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#products">Our products</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="menu__btn-list">
        <button
          class="menu__btn"
          type="button"
          aria-expanded="false"
          aria-controls="menu-container"
          data-menu-button
        >
          <svg class="menu__icon" aria-label="mobile menu switch">
            <use
              class="icon__burger"
              href="./images/header_hero/sprite.svg#menu-burger"
            ></use>
            <use
              class="icon__cross"
              href="./images/header_hero/sprite.svg#icon-close-menu-icon"
            ></use>
          </svg>
        </button>
        <button class="menu__buy-btn open-button" type="button">
          Buy now
          <svg class="icon__cheveron-right">
            <use href="./images/header_hero/sprite.svg#cheveron-right"></use>
          </svg>
        </button>
      </div>
      <nav class="menu__mobile" id="menu-container" data-menu>
        <ul class="menu__mobil-list">
          <li class="menu__mobil-item">
            <a class="menu__mobil-link current" href="#">Home</a>
          </li>
          <li class="menu__mobil-item">
            <a class="menu__mobil-link" href="#about">About us</a>
          </li>
          <li class="menu__mobil-item">
            <a class="menu__mobil-link" href="#howitsmade">How it’s made?</a>
          </li>
          <li class="menu__mobil-item">
            <a class="menu__mobil-link" href="#products">Our products</a>
          </li>
          <li class="menu__mobil-item">
            <a class="menu__mobil-link" href="#contact">Contact</a>
          </li>
        </ul>
        <button
          class="menu__buy-btn menu__buy-btn--mobile open-button2"
          type="button"
        >
          Buy now
          <svg class="icon__cheveron-right">
            <use href="./images/header_hero/sprite.svg#cheveron-right"></use>
          </svg>
        </button>
      </nav>
    </div>

    <!-- BUY - FORM  -->

    <form class="form-oder is-hidden">
      <h2 class="form-header">your order:</h2>

      <button class="oder-form__buton--close" type="button">
        <img src="./images/cancel.svg" alt="" />
      </button>

      <table>
        <tr class="fist__row">
          <th>
            <div class="cell-logo">
              <img src="./images/logo.svg" alt="Ice Cream Logo" class="logo" />
            </div>
          </th>

          <th>
            <div class="cell-ice">
              <!-- <img src="./image/ice-cream-mob-tab.png" alt="" /> -->
            </div>
          </th>
          <th>
            <div class="cell-coffee">
              <!-- <img src="./image/coffee-mob-tab.png" alt="" /> -->
            </div>
          </th>
          <th>
            <div class="cell-milkshake">
              <!-- <img src="./images/milkshake-mob-tab.png" menu__buy-btn--mobilealt="" /> -->
            </div>
          </th>
        </tr>
        <tr class="row-amount">
          <th>amount :</th>
          <td><input type="number" name="amount" id="499" min="0" /></td>
          <td><input type="number" name="amount" id="799" min="0" /></td>
          <td><input type="number" name="amount" id="999" min="0" /></td>
        </tr>
        <tr class="row-sum">
          <th>sum :</th>
          <td><input type="number" name="amount" id="499x" readonly /></td>
          <td><input type="number" name="amount" id="799x" readonly /></td>
          <td><input type="number" name="amount" id="999x" readonly /></td>
        </tr>
        <tr class="row-total">
          <th colspan="3">total sum :</th>
          <td><input type="number" name="amount" id="total" readonly /></td>
        </tr>
      </table>
      <textarea
        class="oder_delivery"
        name="oder_delivery"
        rows="5"
        placeholder="enter place of delivery.."
      ></textarea>
      <button class="oder__button" type="submit">
        <img src="./images/ice-truck.png" alt="Ice cream truck" />
      </button>
    </form>
  </div>
</header>

<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <h1 class="hero__title">
        ice cream made with <span class="title_span">passion</span>
      </h1>
      <div class="hero__group">
        <div class="group__inner">
          <p class="num">16</p>
          <p class="word">cafes</p>
        </div>
        <div class="group__inner">
          <p class="num">23</p>
          <p class="word">food trucks</p>
        </div>
      </div>
    </div>
    <div class="hero__list">
      <a href="#" class="hero__link-prod">Products</a>
      <a href="#" class="hero__link-made">How it’s made?</a>
    </div>
    <div class="plate">
      <img
        loading="lazy"
        class="plate__img"
        src="./images/header_hero/plate.png"
        alt="plate"
      />
      <div>
        <p class="plate__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <span class="line"></span>
        <svg class="icon__arrow" width="40" height="14">
          <use href="./images/header_hero/sprite.svg#Arrow"></use>
        </svg>
      </div>
    </div>
    <img
      loading="lazy"
      class="ice-cream"
      src="./images/header_hero/big-ice_cream.png"
      alt="ice-cream"
    />
    <img
      loading="lazy"
      class="ice-cream__tablet"
      src="./images/header_hero/tablet_ice-cream.png"
      alt="#"
    />
    <img
      loading="lazy"
      class="ice-cream__desk"
      src="./images/header_hero/desk_ice-cream.png"
      alt="#"
    />
    <div class="dots__wraper">
      <img
        class="dots-4"
        loading="lazy"
        src="./images/header_hero/dots.png"
        alt="dots"
      />
      <img
        class="dots-3"
        loading="lazy"
        src="./images/header_hero/dots_3.png"
        alt="dots"
      />
      <img
        class="dots-2"
        loading="lazy"
        src="./images/header_hero/dots_2.png"
        alt="dots"
      />
      <img
        class="dots-1"
        loading="lazy"
        src="./images/header_hero/dots_1.png"
        alt="dots"
      />
    </div>
  </div>
</section>
<!-- <div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="btn__close" type="button" data-modal-close>
      <svg class="icon-cross" width="11" height="11">
        <use href="./images/header_hero/sprite.svg#icon-close-menu-icon"></use>
      </svg>
    </button>
  </div>
</div> -->
